.about-me {
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex
}


.about-me__button {
    display: flex;
    justify-content: end;
    align-items: center;
}

.about-me__image {
    width: 30vh;
    border-radius: 50%;
}

@media(max-width: 767px) {
    .about-me__image {
        display: none;
    }
}

header {
    margin: 20px 30px;
}

@media(max-width: 300px) {
    header {
        margin: 10px;
    }
}

h2 {
    font-size: 2.4rem;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
    text-align: justify;
}

@media(max-width: 999px) {
    p {
       font-size: 1rem;
    }
}


.about-me__description {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: none;
}

.about-me__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1599px) {
    .about-me__info {
        flex-wrap: wrap;
    }
}

@media(max-width: 1189px) {
    .about-me__info {
        flex-wrap: wrap;
    }
}

.about-me__info-item {
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.about-me__info-icon {
    margin-right: 10px;
    height: 25px;
}

@media(max-width: 767px) {
    .about-me__info-icon {
        height: 20px;
        ;
    }
}

.about-me__info-link {
    color: var(--color-main);
    text-decoration: none;
    font-size: 1.2rem;
}

.about-me__info-link:hover {
    color: blue;
}